name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # 1. Navigate to project folder
            cd ~/my-portfolio-website
            
            # 2. Pull latest code
            git pull origin main
            
            # 3. Frontend: Install & Build
            echo "Building Frontend..."
            npm install
            npm run build
            
            # 4. Backend: Install
            echo "Setup Backend..."
            cd backend
            npm install
            cd ..
            
            # 5. Restart Servers (using PM2)
            echo "Restarting PM2..."
            pm2 restart all
            
            echo "Deployment Complete!"